.services {
    height: 350px;
    padding: 20px;
    border: 1px solid #D82828;
    color: #fff;
    position: relative;
    transition: .5s all ease-in-out;
}
.seviceIcon {
    font-size: 60px;
    color: #D82828;
    margin-bottom: 15px;
}
.title {
    font-size: 20px;
    margin-bottom: 12px;
}
.subInfo {
    font-size: 13px;
}
.services:hover {
    background-color: #D82828;
    background-image: linear-gradient(#212121 10%,#D82828);
    cursor: pointer;
    margin-top: 30px;
}
.services:hover .title {
    color: #D82828;
}
.down{
    margin-top: 80px;
}
.down:hover {
    margin-top: 100px;
}